:root{
    --text3 :rgb(151, 151, 151);
    --text4: hsla(0, 0%, 34%, 1);
    --white: hsla(360, 0%, 91%, 1);
    --back: hsla(31, 86%, 57%, 1);
    --back1:hsla(8, 77%, 57%, 1);
    --back2 :hsla(121, 100%, 36%, 1);
    --back3 : rgb(79, 76, 76);
   
}



.card_post{
    padding: 30px;
}


.card_post{
    border: 2px solid rgba(0, 0, 0, 0,2);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    max-width: 400px !important;
    border-radius: 15px;
    overflow: hidden;
}


.card_post .card img{
    max-width: 100%;
    height: 310px;
    object-fit: fill;
    object-position: center;
}


.card_post .card .body_card{
    padding: 8px;
}


.card_post .card .body_card .title_card{
    font-weight: 600;
    color: var(--text2);
    font-size: 18px;
    text-align: justify;
}

.card_post .card .body_card .text_card{
    font-weight: 400;
    color: var(--text1);
    font-size: 14px;
    text-align: justify;
}


.group_btn{
    display: flex;
    align-items: stretch;
    flex-direction: column;
    gap: 8px;
    text-align: center;
    width: 100%;
    margin-top: 8px;
}


.custom_btn{
    text-decoration: none;
    color:var(--white);
    background-color: var(--back1);
    border-radius: 10px;
    padding: 0.5rem 1rem;
    font-size: 16px;
    transition: 0.5s ;
}


.custom_btn:nth-child(2){
    background-color: var(--back2);
}

.custom_btn:hover{
    color: var(--white);
    background-color: var(--back3);
    transition: 0.5s;
}